[flake8]
ignore =
  # F812: list comprehension redefines ...
  F812,
  # H101: Use TODO(NAME)
  H101,
  # H202: assertRaises Exception too broad
  H202,
  # H233: Python 3.x incompatible use of print operator
  H233,
  # H301: one import per line
  H301,
  # H306: imports not in alphabetical order (time, os)
  H306,
  # E501: Line too long
  E501,
  # F401:  imported but unused
  F401,
  # E402 module level import not at top of file
  E402,
  # F403 'from .base import *' used; unable to detect undefined names
  F403

exclude =
  migrations
  __pycache__,
  manage.py,
  settings.py,
  build,
  dist,
  venv
  static
  scripts
  requirements