ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=test-secret-key


# Database enviroment variables

DATABASE_HOST=localhost
DATABASE_NAME=your-postgres-db-name
DATABASE_USERNAME=your-postgres-username
DATABASE_PASSWORD=your-postgres-password
DATABASE_PORT=5432
DATABASE_TEST_NAME=test_db